form {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 4px;
  transition: border 0.3s;
  font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #27ae60;
  outline: none;
}

button {
  margin: 30px auto 0;
  display: block;
  padding: 12px 24px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:  #45a049;
}

/* Customização do Toast */
.toast {
  background-color: #28a745; /* Cor verde para sucesso */
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.5s ease-out;
}

/* Personalizando o toast de erro */
.toast-error {
  background-color: #dc3545; /* Cor vermelha para erro */
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.5s ease-out;
}

/* Personalizando a animação de entrada do toast */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .toast {
    font-size: 14px; /* Reduzir o tamanho da fonte em telas menores */
    padding: 8px 15px;
  }
}

