<div class="cliente-list-container">
  <h2>Lista de Clientes</h2>

  <table class="cliente-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.email }}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn" (click)="novoCliente()">Novo Cliente</button>
</div>
