<h2>Lista de Técnicos</h2>
<button class="novo" (click)="novo()">Novo Técnico</button>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Email</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th>Especialidade</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tecnico of tecnicos">
    <td>{{ tecnico.id }}</td>
    <td>{{ tecnico.nome }}</td>
    <td>{{ tecnico.email }}</td>
    <td>{{ tecnico.cpf || '-' }}</td>
    <td>{{ tecnico.telefone || '-' }}</td>
    <td>{{ tecnico.especialidade || '-' }}</td>
    <td>
      <button (click)="editar(tecnico.id)">Editar</button>
      <button (click)="excluir(tecnico.id)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
